<form (submit)="submitTerminalInput()">
	<div class="d-flex align-items-center justify-content-start">
		<span class="font-weight-bold terminal-input-delimiter">>></span>
		<span
			*ngIf="terminalEntry.isComplete"
			class="terminal-completed-input"
			[class.text-danger]="terminalEntry.replyErrorMessage"
		>
			{{ terminalEntry.reply }}</span
		>
		<input
			*ngIf="!terminalEntry.isComplete"
			#terminalInput
			appAutoFocus
			type="text"
			class="w-100 terminal-line-input"
			name="reply"
			autocomplete="off"
			[(ngModel)]="terminalEntry.reply"
		/>
	</div>
</form>

<div *ngIf="isReplyFibonacci" class="d-flex align-items-center justify-content-center-start">
	<span class="font-weight-bold terminal-input-delimiter">>></span>
	<span class="terminal-completed-input">FBI</span>
</div>
