<div class="header shadow-sm py-4">
	<div class="container">
		The Terminal Game
	</div>
</div>

<div class="container py-4">
	<div class="terminal-window p-3">
		<div *ngFor="let entry of inputPromptEntries" class="mb-4">
			<h6>
				<ng-container [ngSwitch]="entry.state">
					<span *ngSwitchCase="'frequency'">
						Please input the number of time in seconds between emitting numbers and their frequency
					</span>
					<span *ngSwitchCase="'initial'">Please enter the first number</span>
					<span *ngSwitchCase="'in-progress'">Please enter the next number</span>
					<span *ngSwitchCase="'halted'">Timer halted</span>
					<span *ngSwitchCase="'resumed'">Timer resumed</span>
				</ng-container>
			</h6>

			<ng-container *ngIf="entry.messages && entry.messages.length">
				<p *ngFor="let message of entry.messages" class="text-success">Logged: {{ message }}</p>
			</ng-container>

			<form (submit)="submit(entry)">
				<div class="d-flex align-items-center justify-content-start">
					<span class="font-weight-bold terminal-input-delimiter">>></span>
					<span *ngIf="entry.isComplete" class="terminal-completed-input" [class.text-danger]="entry.replyErrorMessage">
						{{ entry.reply }}</span
					>
					<input
						*ngIf="!entry.isComplete"
						appAutoFocus
						type="text"
						class="w-100 terminal-line-input"
						name="reply"
						autocomplete="off"
						[(ngModel)]="entry.reply"
					/>
				</div>
			</form>
			<p *ngIf="entry.replyErrorMessage" class="small text-muted">({{ entry.replyErrorMessage }})</p>
		</div>
	</div>
</div>
